@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Raleway:wght@400;700&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Bricolage Grotesque', sans-serif;
  line-height: 1.5;

  color: #defaf8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* min-height: 100rem; */
}
body {
  margin: 0;
  padding: 2rem;
  background: linear-gradient(180deg, #1f1c2c 0%, #1f1c2c 100%);
}
header {
  border: 1px solid red;
  text-align: center;
}
header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
  margin: 0 auto;
}
header h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
header p {
  margin: 0 auto;
  font-size: 1.15rem;
  max-width: 50ch;
  color: #9eb5b4;
}

/* Всплывающее окно <dialog> */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  border: 2px solid #5d0909;
  border-radius: 8px;
  min-width: 30rem;
  padding: 0;
  background: #d5c7bc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.modal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}
/* Компонент в диалоговом окне <dialog> */
#delete-confirmation {
  padding: 1rem;
}
#delete-confirmation h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: #5d0909;
}
#delete-confirmation p {
  margin: 0 auto;
  font-size: 1.15rem;
  max-width: 38ch;
  color: #804242;
}

.places-category h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  color: #8feeff;
  text-align: center;
}
/* Карточка места */
.place-item {
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #1f1c2c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  animation: slide-up-fade-in 0.3s ease-out forwards;
}
.place-item button {
  border: none;
  padding: 0;
  color: #1f1c2c;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
.place-item img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.place-item h3 {
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  right: 1rem;
  margin: 1rem auto;
  padding: 0.15rem 0.35rem;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  background-color: #feee86;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.place-item:nth-child(odd) button:hover,
.place-item:nth-child(odd) button:focus {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  transform: rotate(5deg);
}
.place-item:nth-child(even) button:hover,
.place-item:nth-child(even) button:focus {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  transform: rotate(-5deg);
}

#confirmation-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.button {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #5d0909;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
}
.button:hover,
.button:focus {
  background-color: #3e0505;
}

.button-text {
  background: transparent;
  border: none;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #5d0909;
}

@keyframes slide-up-fade-in {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
